---
import DownloadResume from '../components/DownloadResume.astro';
import Resume from '../components/Resume.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Traczyk">
  <main class="">
    <Resume />
    <DownloadResume />
  </main>
</Layout>
