---
import BackToTop from '../components/BackToTop.astro';
import Introduction from '../components/Introduction.astro';
import Project, { ProjectType } from '../components/Project.astro';
import ProjectHeader, { ProjectHeaderType } from '../components/ProjectHeader.astro';
import Pssst from '../components/Pssst.astro';
import Layout from '../layouts/Layout.astro';
import projectItems from '../projects';
---

<Layout title="Traczyk">
  <main class="">
    <Introduction />

    <div class="flex flex-col items-center justify-center py-20 md:flex-row md:gap-2" id="projects">
      <h2 class="w-full text-left text-5xl font-bold md:w-fit">x-.-*~</h2>
      <h2 class="text-center text-5xl font-bold">Personal Projects</h2>
      <h2 class="w-full text-right text-5xl font-bold md:w-fit">~^,--x</h2>
    </div>
    <div class="space-y-40">
      {
        projectItems &&
          projectItems.map((item) => {
            if ((item as ProjectHeaderType).text) {
              return <ProjectHeader {...(item as ProjectHeaderType)} />;
            }
            return <Project {...(item as ProjectType)} />;
          })
      }
    </div>

    <BackToTop />
    <Pssst />
  </main>
</Layout>
