---
import BackToTop from '../components/BackToTop.astro';
import Introduction from '../components/Introduction.astro';
import Pssst from '../components/Pssst.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main class="">

		<Introduction />
		<BackToTop />
		<Pssst />
	</main>
</Layout>