---
import iconArrow from '../assets/icons/arrow.svg';
---

<div class="flex items-center justify-center py-20">
  <a class="flex items-center gap-5" href="/Portfolio-Astro/#">
    <img class="w-10 -rotate-90" src={iconArrow} alt="arrow" />
    <h3 class="text-lg font-bold">Thanks for looking at my projects! 🤩</h3>
  </a>
</div>
