---
---

<div class="my-20 flex items-center justify-center">
  <a
    href="zack_traczyk_resume.pdf"
    download="zack_traczyk_resume.pdf"
    class="rounded-xl border-2 p-3 px-20 transition-all hover:border-accent hover:px-[6rem] hover:text-accent hover:shadow-lg"
  >
    <p>Download</p>
  </a>
</div>
