---
---

<div class="my-20 flex items-center justify-center">
  <a
    href="assets/zack_traczyk_resume.pdf"
    download="zack_traczyk_resume.pdf"
    class="hover:border-accent hover:text-accent rounded-xl border-2 p-3 px-20 transition-all hover:px-[6rem] hover:shadow-lg"
  >
    <p>Download</p>
  </a>
</div>
