---
---

<div id="resume" class="flex flex-col gap-5 md:flex-row">
  <div class="flex flex-col gap-8 md:w-[40rem] md:gap-3">
    <hr class="block border-2 md:hidden" />
    <!------------------------------------------->

    <div>
      <h2 class="text-2xl font-bold">Education</h2>
      <div class="h-3"></div>

      <h3>
        <b> Univeristy of California Santa Cruz</b>
        / B.S. in Computer Science
      </h3>
      <h4 class="text-gray text-sm">SPRING 2024</h4>
    </div>

    <hr class="block border-2 md:hidden" />
    <!------------------------------------------->

    <div>
      <h2 class="text-2xl font-bold">Technical Skills</h2>
      <div class="h-3"></div>
      <ul class="list-disc pl-7 leading-5">
        <li>HTML/CSS</li>
        <li>Node</li>
        <li>Javascript & Typescript</li>
        <li>React</li>
        <li class="pb-2">Tailwindcss</li>

        <li>C & C++</li>
        <li class="pb-2">Python</li>

        <li>Firebase</li>
        <li class="pb-2">AWS</li>

        <li>Git</li>
        <li>Tmux & Vim</li>
        <li>Linux/Unix</li>
      </ul>
    </div>

    <hr class="mt-3 block border-2 md:hidden" />
    <!------------------------------------------->

    <div>
      <h2 class="text-2xl font-bold">Skills & Interests</h2>
      <div class="h-3"></div>
      <ul class="list-disc pl-7 leading-5">
        <li>Fullstack Web Development</li>
        <li class="pb-2">Agile Development</li>

        <li>Graphic Design</li>
        <li>Music Production</li>
        <li class="pb-2">Video Editing</li>

        <li>Soccer</li>
        <li>Skateboarding</li>
        <li>Hiking</li>
      </ul>
    </div>

    <hr class="mt-3 block border-2 md:hidden" />
    <!------------------------------------------->

    <div>
      <h2 class="text-2xl font-bold">Coursework</h2>
      <div class="h-3"></div>
      <ul class="flex list-disc flex-col gap-2 pl-7 leading-5">
        <li>Algorithms and Datastructures</li>
        <li>C programming and Command Line Tools</li>
        <li>Computer Systems and Assembly Language</li>
        <li>Computer Architecture</li>
        <li>Machine Learning Basics</li>
        <li>Abstractions in Python</li>
        <li>Intro to Computer Networking</li>
      </ul>
    </div>
  </div>

  <hr class="mt-3 block border-2 md:hidden" />
  <!------------------------------------------->

  <div class="flex flex-col gap-8 md:gap-3">
    <div>
      <h2 class="text-2xl font-bold">Professional Experience</h2>
      <div class="h-3"></div>

      <h3>
        <b> CruzHacks</b>
        / Fullstack SWE
      </h3>
      <h4 class="text-gray text-sm">JULY 2022 - CURRENT</h4>
      <div class="h-3"></div>
      <ul class="flex list-disc flex-col gap-3 pl-7 leading-5 md:gap-0">
        <li>
          Implemented mentor pairing and contest submission sites for the 400+ of participants of
          the UCSC Hackathon, using <b>Node</b>,
          <b>Typescript</b>, <b>React</b>, <b>Sass</b>, and <b>Firebase</b>.
        </li>
        <li>
          Ensured 100% code coverage using <b>Jest</b>.
        </li>
        <li>Worked productively in a student run organization performing DevOps.</li>
      </ul>
    </div>

    <div>
      <h3>
        <b> Under</b>
        / Fullstack SWE Intern
      </h3>
      <h4 class="text-gray text-sm">JUNE 2022 - SEPTEMBER 2022</h4>
      <div class="h-3"></div>
      <ul class="flex list-disc flex-col gap-3 pl-7 leading-5 md:gap-0">
        <li>
          Logged crucial site metrics by architecting a nosql database using
          <b>DynamoDB</b> and a REST API using <b>serverless lambdas</b> through
          <b>AWS CDK</b>.
        </li>
        <li>
          Created a metric dashboard that decreased time spent on customer service by 50% by
          designing and implementing a web dashboard made with
          <b>Typescript</b>, <b>React</b>, and <b>Sass</b>.
        </li>
        <li>
          Implemented an email metric service that increased internal company transparency using <b
            >AWS SES</b
          > and <b>serverless lambdas</b>
          through <b>AWS CDK</b>.
        </li>
      </ul>
    </div>

    <div>
      <h3>
        <b> UCSC Comp Science & Engr Dept</b>
        / LaTeX Editor
      </h3>
      <h4 class="text-gray text-sm">NOVEMBER 2021 - JUNE 2022</h4>
      <div class="h-3"></div>
      <ul class="flex list-disc flex-col gap-3 pl-7 leading-5 md:gap-0">
        <li>
          Edited, reformated, and organized Computer Science research papers written in <b>LaTeX</b>
          using various <b>Unix</b> tools.
        </li>
        <li>
          Assisted in the writing of research papers with distingued professor of engineering
          Darrell Long.
        </li>
      </ul>
    </div>

    <hr class="mt-3 block border-2 md:hidden" />
    <!------------------------------------------->

    <div>
      <h2 class="text-2xl font-bold">
        <a href={`${import.meta.env.BASE_URL}#projects`} class="hover:text-link transition-all"
          >Projects</a
        >
      </h2>
      <div class="h-3"></div>

      <h3>
        <a
          href="https://github.com/xxzbuckxx/Blob-Mob"
          target="_blank"
          class="hover:text-link transition-all"
        >
          <b> Blob Mob</b>
          / Arcade Style Web Game</a
        >
      </h3>
      <h4 class="text-gray text-sm">AUGUST 2022</h4>
      <div class="h-3"></div>
      <ul class="flex list-disc flex-col gap-3 pl-7 leading-5 md:gap-0">
        <li>
          Iterated on site mockups and UI decisions using <b>Figma</b>.
        </li>
        <li>
          Created a web app using <b>Node</b>, <b>Typescript</b>, <b>React</b>, and <b>Sass</b>.
        </li>
        <li>
          Secured account data and game transactions Using <b>Firebase</b>.
        </li>
      </ul>
    </div>

    <div>
      <h3>
        <a
          href="https://github.com/xxzbuckxx/Boid-Simulation"
          target="_blank"
          class="hover:text-link transition-all"
        >
          <b> Flocking Simulation</b>
          / Holographic Flocking Simulation</a
        >
      </h3>
      <h4 class="text-gray text-sm">JUNE 2022</h4>
      <div class="h-3"></div>
      <ul class="flex list-disc flex-col gap-3 pl-7 leading-5 md:gap-0">
        <li>
          Created and optimized a holographic visualization to be displayed at UCSC's Digital
          Scholarship Initiative with <b>Node</b>,
          <b>Typescript</b>, and <b>ThreeJS</b>.
        </li>
        <li>Simulated 3D flocking behavior in the browser.</li>
      </ul>
    </div>

    <div>
      <h3><b>C Projects</b></h3>
      <h4 class="text-gray text-sm">MAY 2021</h4>
      <div class="h-3"></div>
      <ul class="flex list-disc flex-col gap-3 pl-7 leading-5 md:gap-0">
        <li>
          <b>Huffman-Encoding</b> - implement lossless static file compression using a huffman tree and
          priority queue.
        </li>
        <li>
          <b>Sorting-Algorithms</b> - compare various sorting algorithms.
        </li>
      </ul>
    </div>

    <hr class="mt-3 block border-2 md:hidden" />
    <!------------------------------------------->
  </div>
</div>
