---
import ZTLogo from '../assets/icons/personal-logo.svg';
---

<div
  class="m-auto flex flex-col items-center justify-between gap-10 p-10 pb-0 md:max-w-4xl md:flex-row md:pb-10"
>
  <a class="hidden md:block" href="./">
    <img class="w-10" src={ZTLogo} alt="Zack Traczyk personal logo" />
  </a>
  <ul class="flex w-full justify-between md:w-80 md:text-xl">
    <li>
      <a href="/Portfolio-Astro" class="font-bold"> Home</a>
    </li>
    <li>
      <a href=".Portfolio-Astro/#projects" class="font-bold"> Projects</a>
    </li>
    <li>
      <a href="/Portfolio-Astro/about" class="font-bold"> About Me</a>
    </li>
  </ul>
</div>
