---
import ZTLogo from '../assets/icons/personal-logo.svg';
---

<div class="m-auto flex w-full max-w-4xl items-center justify-between p-10">
  <a href="./">
    <img class="w-10" src={ZTLogo} alt="Zack Traczyk personal logo" />
  </a>
  <ul class="flex gap-10 md:justify-between md:text-xl">
    <a href="./" class="font-bold">
      <li>Home</li>
    </a>
    <a href="./#projects" class="font-bold">
      <li>Projects</li>
    </a>
    <a href="./about" class="font-bold">
      <li>About Me</li>
    </a>
  </ul>
</div>
